.FbButton{
    display: inline-flex;

    cursor: pointer;
    background-color: #4c69ba;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    width: 173px;
    height: 46px;

}

.FbButton i{
    margin-right: 10px;
    font-size: x-large;

}